*.db filter=lfs diff=lfs merge=lfs -text
DB.db filter=lfs diff=lfs merge=lfs -text
gtfs_tag.db filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
*.sqdbpro filter=lfs diff=lfs merge=lfs -text
routes.sql filter=lfs diff=lfs merge=lfs -text
